.adversaryCard {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  overflow: hidden;
  background-color: rgb(81, 57, 35);
  max-width: 400px;
}

h3 {
  margin-bottom: 0 !important;
}

.textContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-half);
}

.alias {
  font-weight: 300 !important;
}

.latest {
  padding: var(--spacing-2);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-primary);
  margin-top: var(--spacing-1);
}

.latest p {
  margin: 0 !important;
}

.latest .alias {
  padding-top: 8px;
}

.adversaryCard img {
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.innerCard {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
}

.statsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3);
}

.link {
  margin-top: var(--spacing-2);
  width: fit-content;
}

.barContainer {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: var(--spacing-half);
  align-content: center;
  margin: var(--spacing-half) var(--spacing-half);
}

.progressBar {
  height: 40px;
  border-radius: 30px;
}
.progStatus {
  height: 20px;
  width: 1%;
  border-radius: 20px;
  background: white;
  animation: 6s load forwards;
}
@keyframes load {
  to {
    width: var(--target);
    background: orange;
  }
}
