.adversaryCard {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-lg);
  overflow: hidden;
  background-color: rgb(81, 57, 35);
}

.textContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-half);
}

.adversaryCard img {
  object-fit: cover;
  border-radius: var(--radius-lg);
}

.innerCard {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-2);
  
}

.link {
  margin-top: var(--spacing-2);
  width: fit-content;
}
