:root {
  /* Colours */
  --color-primary: #fc7303;
  --color-primary-lighter: #f48b34;
  --color-primary-darker: #dc6300;
  --color-white: #f5f3ef;
  --color-black: #1c1a19;

  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-8: 64px;
  --spacing-10: 80px;
  --spacing-12: 98px;

  --radius-sm: 4px;
  --radius-md: 12px;
  --radius-lg: 20px;
  --radius-round: 50%;

  color: var(--color-white);
  background-color: var(--color-black);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
}

.h1,
h1 {
  font-size: 64px;
  line-height: 1.08;
  font-weight: 700;
  margin: 0 0 0.5em;
}

.h2,
h2 {
  font-size: 48px;
  line-height: 1.12;
  font-weight: 700;
  margin: 0 0 0.5em;
}

.h3,
h3 {
  font-size: 36px;
  line-height: 1.15;
  font-weight: 600;
  margin: 0 0 0.5em;
}

.h4,
h4 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0 0 0.45em;
}

.h5,
h5 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  margin: 0 0 0.4em;
}

.h6,
h6 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  margin: 0 0 0.35em;
}

.body,
p {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.fullWidth {
  width: 100vw;
}
