---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import CentredOverlay from "@components/CentredOverlay/CentredOverlay.astro";
import MapIsland from "@components/MapIsland/MapIsland.astro";

import cyberOrange from "@assets/cyber-orange.jpg";
import { threatActors } from "@data/threatActors";
import AdversaryCard from "@components/AdversaryCard/AdversaryCard.astro";

---

<Layout>
  <section>
    <CentredOverlay>
      <Image
        slot="background"
        src={cyberOrange}
        alt=""
        class:list={["fullWidth heroImage"]}
      />
      <div slot="foreground" class:list={["heroText"]}>
        <h2>Know Your Enemies. Strengthen Your Defenses.</h2>
        <p class:list={["h6"]}>
          Discover detailed profiles of global threat actors, their tactics, and
          the industries they target — all in one interactive intelligence hub.
        </p>
      </div>
    </CentredOverlay>
  </section>
  <MapIsland />
  <h2 style="text-align: center; margin-top: 24px;">Featured Adversaries</h2>
  <section class:list={["cardGallery"]}>
    {threatActors.map((threat) => <AdversaryCard heading={`Threat ${threat.name}`} country="DPRK" src={threat.image} />)}
  </section>
</Layout>

<style>
  .heroImage {
    opacity: 0.5;
  }
  .heroText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    max-width: 600px;
  }

  .cardGallery {
    display: flex;
    padding: var(--spacing-2);
    gap: var(--spacing-4);
    justify-content: center;
  }
</style>
