---
import Layout from "../layouts/Layout.astro";
import MapIsland from "@components/MapIsland/MapIsland.astro";

import { threatActors } from "@data/threatActors";
import AdversaryCard from "@components/AdversaryCard/AdversaryCard.astro";
---

<Layout>
  <MapIsland />
  <h2 style="text-align: center; margin-top: 24px;">Featured Adversaries</h2>
  <section class:list={["cardGallery"]}>
    {
      threatActors.map((threat, i) => (
        <AdversaryCard
          heading={`Threat ${threat.name}`}
          country={i % 2 === 0 ? "DRPK" : "Russia"}
          src={threat.image}
          {...threat}
        />
      ))
    }
  </section>
  <section>
    <iframe
      src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=v2%3A2PACX-1vQMgcGzwcXVSrSGwDvXdsVPd227dsXVaxI4LJ09e1BU2nz7pPfPQPBMgDjylxSqwIvQU3gULZOJUc87&font=Default&lang=en&initial_zoom=2&width=100%25&height=650"
      width="100%"
      height="650"
      allowfullscreen
      frameborder="0"></iframe>
  </section>
</Layout>

<style>
  .cardGallery {
    display: flex;
    padding: var(--spacing-2) var(--spacing-2) var(--spacing-12);
    gap: var(--spacing-4);
    justify-content: center;
  }
</style>
