---
import CentredOverlay from "@components/CentredOverlay/CentredOverlay.astro";
import CustomLink from "@components/CustomLink/CustomLink.astro";
import { Image } from "astro:assets";

import "@styles/global.css";

import cyberOrange from "@assets/cyber-orange.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DarkScape</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 640 640"
          width="48"
          height="48"
          ><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
          <path
            fill="var(--color-white)"
            d="M96 160C96 142.3 110.3 128 128 128L512 128C529.7 128 544 142.3 544 160C544 177.7 529.7 192 512 192L128 192C110.3 192 96 177.7 96 160zM96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320zM544 480C544 497.7 529.7 512 512 512L128 512C110.3 512 96 497.7 96 480C96 462.3 110.3 448 128 448L512 448C529.7 448 544 462.3 544 480z"
          ></path></svg
        >
      </button>
      <h1 style="text-align: center; margin: 0; padding: var(--spacing-2);">
        DarkScape
      </h1>
    </header>
    <main>
      <section>
        <CentredOverlay>
          <Image
            slot="background"
            src={cyberOrange}
            alt=""
            class:list={["fullWidth heroImage"]}
          />
          <div slot="foreground" class:list={["heroText"]}>
            <h2>Know Your Enemies. Strengthen Your Defenses.</h2>
            <p class:list={["h6"]}>
              Discover detailed profiles of global threat actors, their tactics,
              and the industries they target — all in one interactive
              intelligence hub.
            </p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 640 640"
              height="32"
              class:list={["bounce"]}
              ><!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path
                fill="#feffff"
                d="M297.4 598.6C309.9 611.1 330.2 611.1 342.7 598.6L470.7 470.6C479.9 461.4 482.6 447.7 477.6 435.7C472.6 423.7 460.9 416 448 416L384 416L384 80C384 53.5 362.5 32 336 32L304 32C277.5 32 256 53.5 256 80L256 416L192 416C179.1 416 167.4 423.8 162.4 435.8C157.4 447.8 160.2 461.5 169.4 470.6L297.4 598.6z"
              ></path></svg
            >
          </div>
        </CentredOverlay>
      </section>
      <slot />
    </main>
    <footer
      style="height: 300px; background-color: var(--color-white); display:flex; flex-direction: column; justify-content: space-around; align-items: center;"
    >
      <CustomLink
        variant="filled"
        style="height:fit-content; width: fit-content;">Contact us</CustomLink
      >
      <div
        style="display: flex; gap:var(--spacing-8); color: var(--color-black);"
      >
        <p>Copyright © 2025</p>
        <p>Privacy</p>
        <p>Cookies</p>
      </div>
    </footer>
  </body>
</html>

<style>
  header {
    position: relative;
  }
  header button {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--color-white);
    padding: var(--spacing-half);
    border-radius: var(--radius-md);
    position: absolute;
    top: 20px;
    left: 16px;
  }

  .heroImage {
    opacity: 0.5;
  }

  .heroText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    max-width: 600px;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }

  .bounce {
    animation: bounce 1.5s ease-in-out infinite;
    padding-top: 200px;
  }
</style>
